@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body,html{
    height:100%;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(#db5700 50%, #ffb92a);
    color: #333;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align : center;

}
#quiz-container{
    width:620px;
    background-color: #fff;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 20px
}

#game-setup lable{
    display:block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}
#category , #amount , #difficulty{
    width: 200px;
    padding: 10px;
    box-sizing: border-box; 
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px;
    color: #333;
    background: #fff;

}
#start-btn{
    padding: 12px;
    background-color: #1c1717;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 15);
    transition: background-color 0.3 ease,transform 0.1s ease;
    width: 300px;
    margin-top: 20px;
    font-family: 'poppins', 'sans-serif';
}
#start-btn:hover{
    background-color: darkslategray;
    transform: scale(1.05);

}